
.App {
    text-align: center;
}
.inputdiv{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
input {
    padding: 8px;
    width: 200px;
    font-size: 16px;
}
.btn {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}